<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.sun.jsf-impl" slot="main">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <dependencies>
        <module name="javax.faces.api" slot="main"/>
        <module name="javaee.api"/>
        <module name="javax.servlet.jstl.api"/>
    </dependencies>

    <resources>
        <resource-root path="javax.faces-2.2.8.jar"/>
    </resources>
</module>
