<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<imageArchiveConf>
  <archiveBase>/mnt/data/image-archive</archiveBase>
  <archiveHttpPrefix>http://132.230.4.15</archiveHttpPrefix>
  <archiveNbdPrefix/>
</imageArchiveConf>
