<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<imageArchiveConf>
  <archiveBase>/mnt/data/image-archive</archiveBase>
  <archiveHttpPrefix></archiveHttpPrefix>
  <archiveNbdPrefix/>
</imageArchiveConf>
